/* 修改iview时间轴 */
.ivu-timeline-item-head-custom {
  line-height: 2!important;
}
.ds-time-box .ivu-timeline-item-head-custom {
  padding: 0;
}
.ivu-timeline-item-content {
  padding: 1px 1px 10px 40px!important;
}
.ivu-timeline-item {
  padding: 0 0 22px!important;
}
.ds-border-right {
  border-right: 1px solid #ccc;
}
.ds-time-box {
  padding: 20px 10px 20px 110px;
}
.ds-time-title {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 50%;
}
.ds-time {
  display: inline-block;
  width: 85px;
  position: absolute;
  left: -110px;
  text-align: right;
}